{
  "openapi": "3.0.0",
  "info": {
    "version": "1.8.0",
    "title": "Embedded Design Maker Documentation | Printful",
    "description": "# Printful Embedded Design Maker\n\n<div style=\"background-color: #fff3cd; border: 1px solid #ffeaa7; border-radius: 8px; padding: 16px; margin: 16px 0; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n\n**⚠️ Important Disclaimer**: Before you can access the Embedded Design Maker (EDM) functionality, you must first request access through our enterprise form. Please visit [https://www.printful.com/enterprise/embedded-design-maker](https://www.printful.com/enterprise/embedded-design-maker) to submit your request for EDM access.\n\n</div>\n\n![Sample EDM screenshot](images/edm/Browser.png)\n\nThis is a tutorial for developers/maintainers of the web page that explains how to integrate Printful Embedded Design Maker in a website.\n\nGeneral workflow how to integrate Printful Design Maker in your website:\n\n1. Register your app in https://developers.printful.com and create authentication tokens to be able to access Printful resources.\n\n2. Authenticate from your app by calling API endpoints with these tokens to gather all needed data for Printful Design Maker.\n\n3. Include our JS file in your website and create Printful Design Maker instance.\n\n4. Get list of created designs, generate mockups and create orders from your website by calling Printful API endpoints.",
    "contact": {
      "name": "Printful developer support",
      "url": "https://developers.printful.com/docs/#tag/Other-resources/Developer-support"
    },
    "x-logo": {
      "url": "https://static.cdn.printful.com/dist-pf/image-assets/off-center-full-color-black.1de1e822b15b8e74075c8d1fa631d4e3.svg",
      "backgroundColor": "#FFFFFF",
      "altText": "Printful"
    }
  },
  "servers": [
    {
      "url": "https://api.printful.com",
      "description": "The Printful API is a RESTful API, that uses the HTTP protocol for communication. HTTP GET, POST, PUT and DELETE methods are used to access the API."
    }
  ],
  "tags": [
    {
      "name": "Developer portal",
      "description": "\n## Printful Developers portal\n\nPrintful Developers portal is the place where you can setup OAuth access tokens to be able to access Printful resources.\n\nLog in [Printful Developers portal](https://developers.printful.com) using your Printful login credentials.\n\n## Create private tokens to get access to Printful API\n\nYou need a private OAuth access token to call most Printful API endpoints.\n* To create an access token click on \"Add new token\" button in the \"Tokens\" section.\n* Set the name, contact info and expiration date of the token.\n* Set access level depending on your needs - choose \"Account (all stores)\" to grant access for an account (all stores) or limit the access level to a single selected store.\n* Select scopes for the private token.\n\nSee detailed info in the [Authentication](https://developers.printful.com/docs/#section/Authentication) section of Printful Developers portal to get more info about the scopes and access levels.\n\n## Creating OAuth token with Embedded Designer extension\n\nTo work with Embedded Design Maker, you will need at least one token with \"Embedded Designer\" extension.\nYou will use this token to [get the Nonce token](#tag/Authentication/How-to-get-Nonce-token-for-Embedded-Designer) that is needed to open Printful Design Maker instance.\n\nIn the \"Extensions\" section there should be a checkbox \"Embedded Design Maker\" - once you check it - The access level and Scopes section will set up automatically with the needed values for Embedded Design Maker.\n\n**Important** - for the Embedded Desing Maker please create 2 separate private tokens for different purposes:\n* **For development purposes**, implementation, testing of new features and products:\n    * Private token with the Embedd Desing Maker and “development purposes only” selected.\n      ![Dev portal development section](images/edm/dev-portal-development-section.png)\n* **For the live environment and production usage please use:**\n    * Private token with only the Embedd Desing Maker extension selected\n      ![Dev portal development section](images/edm/dev-portal-development-section-disabled.png)\n\n\nIf you need additional Scopes for the token, to call some other API endpoints that need additional scopes, you can check them as well and have a single token for multiple needs, but it is possible to create a new token for every single API endpoint as well.\nMore info on what scopes are needed for each endpoint can be found in the [Embedded designer related API calls](#tag/API-related-to-Embeded-design-maker) section.\n\n**Note** - once the token is created the scopes list is fixed and cannot be edited. We suggest to enable all available scopes for the token.\n\nTo ensure that Printful will only listen to messages that comes from your domain names and ignore all other, enter your domain name in the \"Domains\" section.\n\n![Dev portal development section](images/edm/dev-portal-domain-section.png)"
    },
    {
      "name": "Authentication",
      "description": "## How to get Nonce token for Embedded Designer\n\nTo get the Nonce token which is used to access the designer iframe session for a specific template, send a POST\nrequest authenticated by the access token with the \"Embedded Designer\" extension to the following endpoint:\nhttps://api.printful.com/embedded-designer/nonces.\n\nThe endpoint accepts a JSON object with following fields:\n\n| Field                  | Type           | Required | Description                                                                   |\n|------------------------|----------------|----------|-------------------------------------------------------------------------------|\n| `external_product_id`  | String         | Yes      | External merchant-side product ID unique for the template                     |\n| `external_customer_id` | String or Null | No       | External merchant-side identifier of the end-user                             |\n| `ip_address`           | String or Null | No       | The IP address that will be used to open the iframe for additional validation |\n| `user_agent`           | String or Null | No       | The user agent that will be used to open the iframe for additional validation |\n\nThe `ip_address` and `user_agent` fields may be used to limit the usage of the nonce. If they are present\nand not null, only a request with a matching IP address/User agent will be permitted with the given nonce.\n\nThe response will be a JSON object with a following structure:\n\n```\n{\n    \"code\": 200,\n    \"result\": {\n        \"nonce\": Nonce\n    }\n}\n```\n\nThe `Nonce` object fields are described in the following table:\n\n| Field         | Type            | Description                                                                                                      |\n|---------------|-----------------|------------------------------------------------------------------------------------------------------------------|\n| `nonce`       | String          | The nonce value                                                                                                  |\n| `template_id` | integer or null | The ID of a Printful template associated with the nonce. If a new template is to be created, this will be `null` |\n| `expires_at`  | integer         | The UNIX timestamp at which the nonce will expire                                                                |\n\nThe endpoint generation request should be done from the back-end, to not expose the access token to the users.\n\nThe nonce will be used to authenticate the iframe session and all actions done in the embedded designer session.\nWith each usage of the nonce, its duration will be extended.\n\nGenerating a new nonce for a given external product ID will invalidate the previous nonces generated\nfor the same external product ID.\n\nSaving the template will also invalidate the nonce. To edit the template, a new\nnonce will need to be generated."
    },
    {
      "name": "Embed design maker",
      "description": "To open the Embedded DesignMaker and create new Embedded template you have to follow these steps.\n\n## Include embed.js library\n\nFirst thing you need is to include file `embed.js` in your website. This file contains the Embedded Design Maker Manager `PFDesignMaker` class definition.  \nYou need to use a script tag to load this class definition from a CDN server to your website:\n\n    <script src=\"https://files.cdn.printful.com/embed/embed.js\"></script>\n\nTo get the latest version of this file use this URL: `https://files.cdn.printful.com/embed/embed.js`\n\n## Creating the Embedded Design Maker Manager class instance\n\nAfter you have included embed.js file in your website, you can create Embedded Design Maker Manager class `PFDesignMaker` instance.  \nHere is a simple example, of how to create this instance with all the required params:\n\n    this.designMaker = new PFDesignMaker({\n        elemId: 'my-designer',\n        nonce: 'ec7kkhxcx6ykjlb2718kzzbgu353y7on',\n        externalProductId: 'mug-123',\n        initProduct: {\n            productId: 438,\n        },\n    });\n\nInfo about the all possible properties that can be passed while creating this instance object:\n\n# Data structures\n\n| Prop name              | Type      | Description                                                                                                   \n|------------------------| --------- | --------------------------------------------------------------------------------------------------------------------------------------\n| `elemId`               | String    | **Required** id of the DOM element in your webpage that will contain the iframe element with Printful Design Maker. You have to have an element with this id in your webpage.\n| `nonce`                | String    | **Required** nonce authentication token to prove that you are eligible to access Printful Design Maker. To get the nonce authentication token you have to follow the instructions of the [How to get Nonce token for Embedded designer](#tag/Authentication/How-to-get-Nonce-token-for-Embedded-Designer) section\n| `externalProductId`    | String    | **Required** id of the embedded template that you are creating. Generate and manage this id on your own website according to your needs. When the design will be saved, use this id to edit the design, or make order from it. Make sure that this id is not used for any other already saved template item when passing this to create new embedded template design.\n| `onTemplateSaved`      | Function  | **Required** Function to be called when Embedded Template has been saved. `templateId` is passed as a param for this function. Store templateId and use it later to edit existing design\n| `onDesignStatusUpdate` | Function  | **Optional** Function to be called when Embedded Designer design status has been changed. There is one object property with five values that gets passed. See section [onDesignStatusUpdate method - call logic and returned data structure](#tag/Embed-design-maker/Data-structures/onDesignStatusUpdate-method-call-logic-and-returned-data-structure) for more info \n| `initProduct`          | Object    | **Required to open design maker in \"Create new template\" mode** Object with information about the product from the Printful product catalog. See table below for more details. To get all the needed product data you have to follow the instructions of the [Catalog API](https://developers.printful.com/docs/#tag/Catalog-API). See section [initProduct data structure](#tag/Embed-design-maker/Data-structures/initProduct-data-structure) for more info\n| `onIframeLoaded`       | Function  | **Optional** Function to be called when iframe URL has been loaded and it is safe to make DOM element visible to the user.\n| `onError`              | Function  | **Optional** Function to be called when any kind of error has happened. \n| `iframeClassName`      | String    | **Optional** Add className for iframe DOM element, in case you need to add custom styling for it.\n| `debug`                | Boolean   | **Optional** Specify true for additional debugging output in form of console logs.\n| `style`                | Object    | **Optional** Specify custom styles to be passed to the Embedded Design Maker to style tha design maker UI according to your needs. See section [\"style\" data structure](#tag/Embed-design-maker/Data-structures/style-data-structure) for more info \n| `featureConfig`        | Object    | **Optional** Specify custom feature configuration for Embedded Design Maker to restrict some Design Maker features (layer types). See section [\"featureConfig\" data structure](#tag/Embed-design-maker/Data-structures/featureConfig-data-structure) for more info\n| `disabledPlacements`   | String[]  | **Optional** An array of placement ids that should not be available for designing. if param is ommitted or empty array is passed, then all placements will be available. Specify only in case you want to disable some of the placements, otherwise omit this parameter. . See section [\"disabledPlacements\" array](#tag/Embed-design-maker/Data-structures/disabledPlacements-array) for more info\n| `preselectedColors`    | String[]  | **Optional** An array of Product color names that will be preselected when Embedded Design Maker is opened. If param is ommitted or empty array is passed, default logic will be used. See section [\"preselectedColors\" array](#tag/Embed-design-maker/Data-structures/preselectedColors-array) for more info\n| `preselectedSizes`     | String[]  | **Optional** An array of Product size names that will be preselected when Embedded Design Maker is opened. If param is ommitted or empty array is passed, default logic will be used. See section [\"preselectedSizes\" array](#tag/Embed-design-maker/Data-structures/preselectedSizes-array) for more info\n| `preselectedProductOptions`  | Object   | **Optional** Specify preselected product options. If not specified, then default ones will be used. If no values are selected relevant error message is shown. See section [\"preselectedProductOptions\" data structure](#tag/Embed-design-maker/Data-structures/preselectedProductOptions-data-structure) for more info\n| `disabledColors`       | String[]  | **Optional** An array of Product color names that will be disabled for Embedded Design Maker. If param is ommitted or empty array is passed, default logic will be used. See section [\"disabledColors\" array](#tag/Embed-design-maker/Data-structures/disabledColors-array) for more info\n| `disabledSizes`        | String[]  | **Optional** An array of Product size names that will be disabled for Embedded Design Maker. If param is ommitted or empty array is passed, default logic will be used. See section [\"disabledSizes\" array](#tag/Embed-design-maker/Data-structures/disabledSizes-array) for more info\n| `applyImageFromUrl`    | String    | **Optional** A string with URL of JPG or PNG image file that should be applied to new product. See section [applyImageFromUrl parameter](#tag/Embed-design-maker/Data-structures/applyImageFromUrl-parameter) for more information.\n\n## Example of full EDM configuration\nExample with basic setup and default configuration values:\n```javascript\n    this.designMaker = new PFDesignMaker({\n        elemId: 'my-designer',\n        nonce: 'ec7kkhxcx6ykjlb2718kzzbgu353y7on',\n        externalProductId: 'mug-123',\n        initProduct: {\n            productId: 438,\n        },\n        locale: 'en_US',\n        disabledPlacements: [],\n        isVariantSelectionDisabled: false,\n        disabledColors: [],\n        disabledSizes: [],\n        preselectedColors: [],\n        preselectedSizes: [],\n        preselectedProductOptions: {},\n        applyImageFromUrl: '',\n        useUserConfirmationErrors: false,\n        allowOnlyOneColorToBeSelected: false,\n        allowOnlyOneSizeToBeSelected: false,\n        useEmbroideryPreviewInDesign: false,\n        featureConfig: {\n            clipart_layers: true,\n            file_layers: true,\n            text_layers: true,\n            embroidery_3d_puff: true,\n            has_color_group_inside_labels: false,\n            sub_technique_switcher: false,\n            has_external_user_file_library: false,\n            show_unavailability_info: false,\n            custom_external_file_library: false,\n            initial_open_view: ''\n        },\n        livePricingConfig: {\n            useLivePricing: false,\n            useAccountBasedPricing: false,\n            showPricesInPlacementsTabs: true,\n            livePricingCurrency: 'USD'\n        }\n    })\n```\n\n## initProduct data structure\n\nProduct info object `initProduct` can have following properties:\n\n| Prop name          | Type   | Example values                | Description                                                                                                     |\n|--------------------|--------|-------------------------------|-----------------------------------------------------------------------------------------------------------------| \n| `productId`        | number |                               | **Required** Product ID from the Product catalog API                                                            |\n| `technique`        | String | `T-SHIRT`, `EMBROIDERY`, etc. | **Optional** Technique for the products that can have more than one default technique                           |\n| `forceOrientation` | String | `horizontal`, `vertical`      | **Optional** Orientation for products that can have more than one orientation template types (socks, tote bags) |\n\nFor some products that have 'Unlimited Colors' embroidery technique available ([Product containing Unlimited Color option](https://developers.printful.com/docs/#section/Catalog-API-examples/Product-containing-Unlimited-Color-option)), it is possible to initialise product in designer in `full_color` mode by passing `EMBROIDERY_FULL_COLOR` as technique.\n\n<div class=\"alert alert-info\" style=\"word-wrap: break-word; padding: 16px; border-radius: 0; cursor: default; color: #31708f; background-color: #d9edf7; border-color: #bce8f1;\">\nDue to the technical limitation the `technique` parameter needs to be defined. That means that the technique picker is not available in the EDM the same way as it is available in the Printful app.\nSo currently specifying the technique is possible only outside the EDM before the EDM is opened.\n</div>\n\n## style data structure\n\nCustom styling object `style` can have following properties and data structure:\n\n| Prop name                            | Type   | Description                                                                                                                                                                                                                                                                                                                       |\n|--------------------------------------|--------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| `variables`                          | Object | List of key, value pairs, where the key is any valid CSS property and the value is any valid CSS value. All CSS declarations defined here will be applied to `:root` selector. There is a list of predefined custom CSS properties. See section [Customization](#tag/UI-customization) for more info                              |\n| `navigation.product.imageIcon`       | String | **Desktop:** ![Navigation button product icon, desktop](images/edm/navigation-product-desktop.png) **Mobile:** ![Navigation button product icon, mobile](images/edm/navigation-product-mobile.png)<br>URL for navigation button product icon, if image fails to load, default icon will be used. Image will be resized to 24x24px |\n| `navigation.design.imageIcon`        | String | **Mobile:** ![Navigation button design icon, mobile](images/edm/navigation-design-mobile.png)<br>URL for navigation button design icon, if image fails to load, default icon will be used. Image will be resized to 24x24px                                                                                                       |\n| `navigation.layers.imageIcon`        | String | **Desktop:** ![Navigation button layers icon, desktop](images/edm/navigation-layers-desktop.png) **Mobile:** ![Navigation button layers icon, mobile](images/edm/navigation-layers-mobile.png)<br>URL for navigation button layers icon, if image fails to load, default icon will be used. Image will be resized to 24x24px      |\n| `navigation.file.imageIcon`          | String | **Desktop:** ![Navigation button file icon, desktop](images/edm/navigation-file-desktop.png) **Mobile:** ![Navigation button file icon, mobile](images/edm/navigation-file-mobile.png)<br>URL for navigation button file icon, if image fails to load, default icon will be used. Image will be resized to 24x24px                |\n| `navigation.text.imageIcon`          | String | **Desktop:** ![Navigation button text icon, desktop](images/edm/navigation-text-desktop.png) **Mobile:** ![Navigation button text icon, mobile](images/edm/navigation-text-mobile.png)<br>URL for navigation button text icon, if image fails to load, default icon will be used. Image will be resized to 24x24px                |\n| `navigation.clipart.imageIcon`       | String | **Desktop:** ![Navigation button clipart icon, desktop](images/edm/navigation-clipart-desktop.png) **Mobile:** ![Navigation button clipart icon, mobile](images/edm/navigation-clipart-mobile.png)<br>URL for navigation button clipart icon, if image fails to load, default icon will be used. Image will be resized to 24x24px |\n| `navigation.fill.imageIcon`          | String | **Desktop:** ![Navigation button fill icon, desktop](images/edm/navigation-fill-desktop.png) **Mobile:** ![Navigation button fill icon, mobile](images/edm/navigation-fill-mobile.png)<br>URL for navigation button fill icon, if image fails to load, default icon will be used. Image will be resized to 24x24px                |\n| **(deprecated)** `background`        | String | **Use `--pf-sys-background`, see [general background related tokens](#tag/UI-customization/System-tokens/General-background-related-tokens)**<br>color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation                                                                                                                          |\n| **(deprecated)** `textColor`         | String | **Use any \"`on-background`\" or \"`on-surface`\", see [neutral colors on background](#tag/UI-customization/System-tokens/Neutral-colors-on-background)**<br>color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation                                                                                                                  |\n| **(deprecated)** `iconColor`         | String | **Use `--pf-sys-icon-on-background`, see [general background related tokens](#tag/UI-customization/System-tokens/General-background-related-tokens)**<br>color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation                                                                                                                  |\n| **(deprecated)** `link.color`        | String | **Use `--pf-sys-link-on-background`, see [general background related tokens](#tag/UI-customization/System-tokens/General-background-related-tokens)**<br>color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation                                                                                                                  |\n| **(deprecated)** `picker.background` | String | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation                                                                                                                                                                                                                                                              |\n| **(deprecated)** `layer.background`  | String | **Use `--pf-comp-layer-item-surface`, see [layer](#tag/UI-customization/Component-tokens/Layer)**<br>color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation                                                                                                                                                                      |\n| **(deprecated)** `layer.textColor`   | String | **Use `--pf-comp-layer-item-on-surface`, see [layer](#tag/UI-customization/Component-tokens/Layer)**<br>color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation                                                                                                                                                                   |\n| **(deprecated)** `layer.iconColor`   | String | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation                                                                                                                                                                                                                                                              |\n\n## onDesignStatusUpdate method - call logic and returned data structure\n\nIf you have provided a method in `onDesignStatusUpdate` param - this method is called each time there are some updates regarding design status. To avoid calling this method too often when multiple things change at once - all method calls are debounced with time limit 1000ms - meaning that the design status update message will be sent 1000ms after the last design status change.\n\nPossible events that trigger design status update are:\n* Design has been changed compared to how it was opened - in case already saved template is opened\n* There are some validation errors, that restrict user from saving the design with current configuration\n* List of selected sizes/colors for the product has changed\n* List of used placement has changed\n* Sub technique switch\n\n| Prop name            | Type          | Description                                                                                                                                                                                                                                                     |\n|----------------------|---------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------| \n| `designChange`       | Boolean       | Indicating if design has been changed if compared to how it was opened. True if the design has been changed, otherwise false.                                                                                                                                   |\n| `designValid`        | Boolean       | Indicating if it is possible to save the design currently. If the value is false - it means that there will be some validation error that will restrict user from saving the design                                                                             |\n| `selectedVariantIds` | array<number> | An array of selected product variant ids. A product variant is combination of size/color for the product. For example if user has selected 2 colors and 5 sizes, then this array should contain 10 product variant ids (all the size/color combinations 2*5=10) |\n| `usedPlacements`     | array<String> | An array of placement ids that have some design added.                                                                                                                                                                                                          |\n| `subtechnique`       | String        | Indicates which sub technique is active                                                                                                                                                                                                                         |\n| `errors`             | array<String> | An array of error messages that decribe why design is not valid                                                                                                                                                                                                 |\n\n## featureConfig data structure\n\nFeatureConfig data object 'featureConfig' can have following properties to control witch layer types/designer features are allowed in the Design Maker:\n\n| Prop name                         | Type (Default)           | Description                                                                                                                                                                                                                                                                                                                                      |\n|-----------------------------------|--------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------| \n| `clipart_layers`                  | Boolean (`true`)         | Set if the clipart layers can be added while creating the design (visibility of the \"Add clipart\" button)                                                                                                                                                                                                                                        |\n| `file_layers`                     | Boolean (`true`)         | Set if the file layers can be added while creating the design (visibility of the \"Choose file\" button)                                                                                                                                                                                                                                           |\n| `text_layers`                     | Boolean (`true`)         | Set if the text layers can be added while creating the design (Visibility of the \"Add text\" button)                                                                                                                                                                                                                                              |\n| `embroidery_3d_puff`              | Boolean (`true`)         | Set if the 3D puff can be added to file layers for certain embroidery products (Visibility of the \"Embroidery type\" picker)                                                                                                                                                                                                                      |\n| `has_color_group_inside_labels`   | Boolean (`false`)        | Set if the insade label placement should have customization options for mandatory data design. Designs created with this option must be [ordered specifying product template or external product ID](https://developers.printful.com/docs/#tag/Examples/Orders-API-examples/Using-a-product-template), not by printfiles from mockup generation. |\n| `sub_technique_switcher`          | Boolean (`false`)        | Set if sub technique switcher should be visible (if set `true` but product does not have sub technique option, switcher wont appear)                                                                                                                                                                                                             |\n| `has_external_user_file_library`  | Boolean (`false`)        | Set if users should be able to see their used files in file library modal window. (Has effect only if `external_customer_id` value is passed on [the Nonce token creation](#tag/Authentication/How-to-get-Nonce-token-for-Embedded-Designer) that is used for EDM)                                                                               |\n| `initial_open_view`               | String (`\"file_layers\"`) | Set to change initial left side view for new design creation. Available options: `\"file_layers\"`, `\"clipart_layers\"`, `\"layers_view\"`, `\"product_view\"`.                                                                                                                                                                                         |\n| `show_unavailability_info`        | Boolean (`false`)        | Set if unavailability list should appear for selected variants in case some of them are not available. [Unavailability list](#tag/Embed-design-maker/Features/Unavailability-list)                                                                                                                                                               |\n| `custom_external_file_library`    | Boolean (`false`)        | Set if custom file library is required [Custom external file library](#tag/Embed-design-maker/Features/Custom-external-file-library)                                                                                                                                                                                                             |\n\nIn case `has_external_user_file_library` is used and ADMIN user needs to open other user designs, then for ADMIN user nonce creation:\n* `external_customer_id` is not used. That way ADMIN user can open and edit design, but file library won't be accessible because that needs `external_customer_id`.\n* `external_customer_id` is the same as the `customer_id` that was used to create design. That way ADMIN user is impersonating user and can edit design, and access user's file library.\n\n## disabledPlacements array\n\n* This param should be used in case you want to disable specific placements from Design Maker\n* `disabledPlacements` array should contain placementId String values, separated by comma.\n* If the param is omitted or is an empty array, then all placements will be available\n    * example param values:\n        * `['embroidery_chest_left']`\n        * `['back','sleeve_left','sleeve_right']`\n        * `['embroidery_left','embroidery_right']`\n    * If none of the provided Strings match any placementsId of the opened product then this param has no effect - all the placements will be available\n* This param will work for both modes \"Create new template\" and \"Edit existing template\" mode.\n    * In \"Edit existing template\" mode, if opened template contains any design for the placement that is not hidden, then all the design in that placement will be deleted (after the Save action will be called)\n* For technical reasons placement 'embroidery_large_center' will always be hidden, if there is such a placement for the loaded product. This is just a temporary restriction - until the technical reasons will be solved\n\n## preselectedColors array\n\n* This param should be used in case you want to have specific Product colors preselected when opening Design Maker\n* `preselectedColors` array should contain Product color name string values, separated by comma.\n* If the param is omitted or is an empty array, default logic will be used.\n    * example param values:\n        * `['Black Heather','Autumn','Aqua','Mauve']`\n        * `['Oxblood Black','Heather Raspberry','Heather True Royal']`\n        * `['Heather True Royal']`\n    * If none of the provided Strings match any Product color names of the opened product available colors then this param has no effect - default logic will be used instead.\n* This param will only work for \"Create new template\" mode.\n* If passed color name is not found in current product config, it will be ignored\n\n## preselectedSizes array\n\n* This param should be used in case you want to have specific Product sizes preselected when opening Design Maker\n* `preselectedSizes` array should contain Product size name string values, separated by comma.\n* If the param is omitted or is an empty array, default logic will be used.\n    * example param values:\n        * `['XS','S','M']`\n        * `['XL']`\n        * `['2XL','3XL','4XL','5XL']`\n    * If none of the provided Strings match any Product size names of the opened product available sizes then this param has no effect - default logic will be used instead.\n* This param will only work for \"Create new template\" mode.\n* If passed size name is not found in current product config, it will be ignored\n\n## preselectedProductOptions data structure\n\n* This param should be used in case you want to have preselected product options. This works only if product supports these options and passed values.\n* Check [Utilising Options](https://developers.printful.com/docs/v2-beta/#tag/Examples/Utilising-options) to see if product has product options and what kind of values it supports. \n* Sometimes default values are `null`, if thats the case then end-user needs to select product options via Design Maker. \nEnd-user can't save design without values in product options. If no values are selected relevant error message is shown that stops user from saving template.\n* `preselectedProductOptions` object has key as product option name and value as product option value. See table for supported product options:\n\n| Prop name             | Type                    | Description                                                                             |\n|-----------------------|-------------------------|-----------------------------------------------------------------------------------------|\n| `stitchColor`         | String                  | Set stitch color for the product. Typically the value can be `white`, `black`, `clear`. |\n| `insidePocket`        | Boolean<br/>(`false`)   | Set if product should have inside pocket. By default this is `false`.                   |\n| `customBorderColor`   | String                  | Set border color in hex for the product. This is for Stickers.                          |\n\n* If wrong key gets passed, it will be ignored. \n* If wrong value gets passed, it will be ignored.\n\n## disabledColors array\n\n* This param should be used in case you want to have specific Product colors disabled for Embedded Design Maker\n* `disabledColors` array should contain Product color name string values, separated by comma.\n* If the param is omitted or is an empty array, default logic will be used.\n    * example param values:\n        * `['Black Heather','Autumn','Aqua','Mauve']`\n        * `['Oxblood Black','Heather Raspberry','Heather True Royal']`\n        * `['Heather True Royal']`\n    * If none of the provided Strings match any Product size names of the opened product available sizes then this param has no effect - default logic will be used instead.\n* If passed size name is not found in current product config, it will be ignored\n\n## disabledSizes array\n\n* This param should be used in case you want to have specific Product sizes disabled for Embedded Design Maker\n* `disabledSizes` array should contain Product size string values, separated by comma.\n* If the param is omitted or is an empty array, default logic will be used.\n    * example param values:\n        * `['XS','S','M']`\n        * `['XL']`\n        * `['2XL','3XL','4XL','5XL']`\n    * If none of the provided Strings match any Product sizes of the opened product available sizes then this param has no effect - default logic will be used instead.\n* If passed size name is not found in current product config, it will be ignored\n\n## applyImageFromUrl parameter\n\nIf `applyImageFromUrl` string was provided for the `PFDesignMaker` instance on new product creation, then image from URL will be added to first design placement without manual interactions from the end user.\n* This parameter will work only for new product design creation.\n* JPG or PNG image must be available from the passed URL so that can be processed and applied to design.\n* Restrictions for the image and URL are noted in [Send message - Add image from URL trigger](#tag/Embed-design-maker/Public-methods-of-PFDesignMaker-class-instance-object/Send-message-Add-image-from-URL-trigger) section.\n* Image can also be added to design placement while designer is open with [`setUrlImageLayer` message](#tag/Embed-design-maker/Public-methods-of-PFDesignMaker-class-instance-object/Send-message-Add-image-from-URL-trigger).\n\n# Features\n\n## Unavailability overlay\nWhen EDM opens up and selected product has no variants available, unavailability overlay with message appears.\nWhen this overlay appears, EDM becomes unusable.\n\nWhen overlay triggers it will also pass an error to `onDesignStatusUpdate` with string `This product isn’t available`.\n\n![EDM unavailability overlay](images/edm/product-unavailable.png)\n\n## Unavailability list\nWhen user selects variant that is currently out of stock or is discontinued, list will appear with all the selected variants\nthat have this issue.\n\nBy default, this option is disabled, to enable it set `show_unavailability_info` to `true` in [Feature Config](#tag/Embed-design-maker/Data-structures/featureConfig-data-structure)\n\n![EDM unavailability overlay](images/edm/variant-unavailable.png)\n\n## Custom external file library\nWith [Add image from URL trigger](#tag/Embed-design-maker/Public-methods-of-PFDesignMaker-class-instance-object/Send-message-Add-image-from-URL-trigger) its possible to add images to EDM,\nbut it might be wierd to trigger this method with file selector that is outside EDM, with setting `custom_external_file_library` to true, when user clicks on any file upload option in EDM,\nit will trigger `onFilePickerRequested` hook instead of calling EDM file upload methods.\n\nBy combining `onFilePickerRequested` hook and `setUrlImageLayer` event, it's possible to show custom file library instead of showing EDM file library\n\nExample usage:\n\n```javascript\n    this.designMaker = new PFDesignMaker({\n        elemId: 'my-design-maker',\n        nonce: 'ec7kkhxcx6ykjlb2718kzzbgu353y7on',\n        featureConfig: {\n            custom_external_file_library: true,\n        },\n        onFilePickerRequested: () => {\n            // Logic for opening custom file library\n            // Method for picking file from that library\n            this.designMaker.sendMessage({\n                event: 'setUrlImageLayer',\n                imageUrl, // chosen file url\n            }); // Call this from the method that chooses the file\n        },\n    });\n```\n\n## Setting a locale\nTo change a locale use `locale: 'en_US'`\n\nIt will translate the EDM UI to selected locale, will also translate warnings and errors returned from `onDesignStatusUpdate` hook.\nPossible values: `en_US`, `it_IT`, `fr_FR`, `es_ES`, `de_DE`, `ja_JP`.\n\nExample usage:\n\n```javascript\n    this.designMaker = new PFDesignMaker({\n        elemId: 'my-design-maker',\n        nonce: 'ec7kkhxcx6ykjlb2718kzzbgu353y7on',\n        locale: 'en_US',\n    });\n```\n\n## Disable variant selection\nTo disable variant selection use `isVariantSelectionDisabled: true`\nWill still show all possible colors and sizes for a product, but will disable option to select any colors or sizes.\nUseful if it should not be possible to edit selected colors or sizes when editing previously saved design.\n\nExample usage:\n\n```javascript\n    this.designMaker = new PFDesignMaker({\n        elemId: 'my-design-maker',\n        nonce: 'ec7kkhxcx6ykjlb2718kzzbgu353y7on',\n        isVariantSelectionDisabled: true,\n    });\n```\n\n## Limit color selection to one\nTo make it so that customer can select only one color use `allowOnlyOneColorToBeSelected: true`\nUseful for using EDM as an order creation tool.\n\nRecommended to use along with [\"Limit size selection to one\"](#tag/Embed-design-maker/Features/Limit-size-selection-to-one)\n\nExample usage:\n\n```javascript\n    this.designMaker = new PFDesignMaker({\n        elemId: 'my-design-maker',\n        nonce: 'ec7kkhxcx6ykjlb2718kzzbgu353y7on',\n        allowOnlyOneColorToBeSelected: true,\n    });\n```\n\n## Limit size selection to one\nTo make it so that customer can select only one size use `allowOnlyOneSizeToBeSelected: true`\nUseful for using EDM as an order creation tool.\n\nRecommended to use along with [\"Limit color selection to one\"](#tag/Embed-design-maker/Features/Limit-color-selection-to-one)\n\nExample usage:\n\n```javascript\n    this.designMaker = new PFDesignMaker({\n        elemId: 'my-design-maker',\n        nonce: 'ec7kkhxcx6ykjlb2718kzzbgu353y7on',\n        allowOnlyOneSizeToBeSelected: true,\n    });\n```\n\n## Error modals\nThere can be some errors that in regular Designmaker in Printful ask for user feedback to be resolved, for example modal\nfor selecting AOP product stitch color if user did not select one.\n\nIn EDM such errors are just passed in `onDesignStatusUpdate`\n\nBut it's possible to enable the modal flow instead of just passing some error to `onDesignStatusUpdate` with `useUserConfirmationErrors: true`\n\nExample usage:\n```javascript\n    this.designMaker = new PFDesignMaker({\n        elemId: 'my-design-maker',\n        nonce: 'ec7kkhxcx6ykjlb2718kzzbgu353y7on',\n        useUserConfirmationErrors: true,\n    });\n```\n\nWith `useUserConfirmationErrors: false` if user has not selected stitch color:\n![Regular flow](images/edm/regular-flow.png)\n\nWith `useUserConfirmationErrors: true` if user has not selected stitch color and tries to save design:\n![Error modal flow](images/edm/error-modal.png)\n\n## Design pricing info\n\nTo get current design pricing range, use `livePricingConfig` and `onPricingStatusUpdate` hook.\n`onPricingStatusUpdate` will provide each selected variants price and even include additional placement price.\n\nAvailable currencies: \"USD\", \"EUR\", \"JPY\", \"GBP\", \"CAD\", \"AUD\", \"SEK\", \"DKK\", \"NZD\", \"CHF\", \"MXN\", \"HKD\", \"SGD\", \"NOK\", \"PLN\", \"KRW\", \"BRL\";\n\nData format returned from `onPricingStatusUpdate`\n```typescript\nexport interface PricingInfo {\n    discountPercent: number;\n    discountedPrice: number;\n    discountAmount: number;\n    currency: string;\n    currencySymbol: string;\n    price: number;\n    originalPrice: number;\n    retailPrice: number;\n    basePriceDiscount: number;\n    growthPrice: number;\n    color: string;\n    size: string;\n}\n```\n\nExample config: \n```javascript\n    this.designMaker = new PFDesignMaker({\n        elemId: 'my-design-maker',\n        nonce: 'ec7kkhxcx6ykjlb2718kzzbgu353y7on',\n        livePricingConfig: {\n            useLivePricing: true, // Enables the feature\n            useAccountBasedPricing: false, // If true, gets discounts if EDM owner account has Printful Growth enabled\n            showPricesInPlacementsTabs: true, // If true, will show prices in placement tabs\n            livePricingCurrency: \"USD\" // Currency to show and use\n        },\n        onPricingStatusUpdate: (variantPriceList) => { \n            // logic that handles pricing logic\n        }\n    });\n```\n\n# Editing existing Embedded template\nThere are some limitations as to what kind of templates EDM can edit.\n\nIf a product template is created with https://printful.com, you will not be able to edit or open such templates in EDM.\n\nTemplates created with EDM, are not visible in https://printful.com dashboard.\n\nTo edit a template follow this flow: \n\n1. Create a template reference on your side (`external_product_id`)\n2. Create a nonce with said `externalProductId` (More details [here](#tag/Authentication/How-to-get-Nonce-token-for-Embedded-Designer)), example request:\n    ```\n    POST https://api.printful.com/embedded-designer/nonces\n    Authorization: Bearer {token}\n    \n    Content-Type: application/json\n    \n    {\n        \"external_product_id\": \"myRandomlyGeneratedId1\"\n    }\n    ```\n3. Create the EDM instance, example code: \n   ```javascript\n       this.designMaker = new PFDesignMaker({\n        elemId: 'my-designer',\n        nonce: 'ec7kkhxcx6ykjlb2718kzzbgu353y7on', // nonce returned from step 2\n        externalProductId: 'myRandomlyGeneratedId1', // Your generated ID\n        initProduct: {\n            productId: 438, // Whatever product you wish to open\n        },\n    });\n   ```\n4. Save design\n5. To edit the saved design, create nonce again, but instead of generating new `external_product_id`, use the same one that was used when initial nonce was created\n6. Create a new EDM instance, but now don't add `initProduct`, example code:\n   ```javascript\n       this.designMaker = new PFDesignMaker({\n        elemId: 'my-designer',\n        nonce: 'uMZHeuNEYM8nsjqzf0JAFUsglvurf5EA', // nonce returned from step 5\n        externalProductId: 'myRandomlyGeneratedId1', // Your previously used id from step 1 ID\n    });\n   ```\n\nNow if everything went correctly, EDM should open design that was saved during step 4.\n\n# Public methods of PFDesignMaker class instance object\n\n## Send message\n\nTo be able to trigger events in Embedded Design Maker, use public method `sendMessage` of the `PFDesignMaker` instance object.\nMethod has only one parameter `message` type `Object`. See the example usage of this method - to trigger save design action in Embedded Design Maker:\n\n     this.designMaker.sendMessage({ event: 'saveDesign' });\n\n## Send message - Save design trigger\n\n`saveDesign` - Call this event to trigger save action on Embedded Design Maker.\n\n* If Design Maker is opened in \"Create new template\" mode, then save action will create new Embedded Template\n* if Design Maker is opened in \"Edit existing template\" mode then save action will update design for existing template.\n\n**Example code**\n\n    this.designMaker.sendMessage({ event: 'saveDesign' });\n\n**Notes**\n\nIf `onTemplateSaved` function was provided for the `PFDesignMaker` instance, and the save action was successful,\nthen `onTemplateSaved` callback function will be called after triggering `saveDesign` event.\n\n## Send message - Add image from URL trigger\n\n`setUrlImageLayer` - Call this event to trigger image adding to active placement on Embedded Design Maker.\n\n* There are limitations to passed URL:\n    * URL must point to PNG/JPG image that can be processed from passed string,\n    * Max URL length is 1000 characters,\n    * Recommended max size for one image dimension is 15k pixels,\n    * Image size must be smaller than 50MB,\n    * Maximum of 5 file image layers can be applied to one placement.\n* Image will be applied to the opened design placement.\n* If file can not be processed, a console error will be shown.\n\n**Example code**\n\n    this.designMaker.sendMessage({ event: 'setUrlImageLayer', imageUrl: 'https://picsum.photos/2000' });\n\n**Notes**\n\nTo add image from URL automatically after new product is opened [applyImageFromUrl parameter](#tag/Embed-design-maker/Data-structures/applyImageFromUrl-parameter) can be used.\n\nThe first time image is retrieved it will be saved for future use. When using the same URL for future requests the cached image will be used.\n\nIf `has_external_user_file_library` parameter ([\"featureConfig\" data structure](#tag/Embed-design-maker/Data-structures/featureConfig-data-structure)) is used, end user will see file in library.\n"
    },
    {
      "name": "UI customization",
      "description": "\n## Considerations\n\n* Accessibility\n    * Color contrast\n        * **Consideration:** When modifying predefined custom CSS properties that are listed below, Printful is not responsible for meeting the accessible color contrast values\n        * **Solution:** Ensure that the custom design system colors meet minimum accessible color contrast. More information about [Text has minimum contrast WCAG rule (external link)](https://www.w3.org/WAI/standards-guidelines/act/rules/afw4f7/proposed/)\n* Custom SVG illustrations\n    * **Consideration:** Custom SVG illustrations (e.g. in \"not results found\" search views) are not customizable and may not look good on every background color\n    * **Solution:** Custom SVG illustrations will work best with a light theme\n\n| On light background                                                                           | On dark background                                                                          |\n|-----------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------|\n| ![\"No results found\" illustration on light background](images/edm/no-results-found-light.png) | ![\"No results found\" illustration on dark background](images/edm/no-results-found-dark.png) |\n\n* Changing container component specific surface color with unpredictable content (e.g. dropdown and popover)\n    * **Consideration:** Almost all container components (e.g. dropdowns and popovers) use the same surface color as the page background, white by default. If you want to change surface color for a specific component (e.g. popover) to be different from page background color, depending on content inside popover, the colors inside popover might not be customizable. In most cases it should be fine, but there could be cases where customization options are limited on component level.\n    * **Solution:** For container components (e.g. dropdowns and popovers) most reliable results will be if the container component surface is the same color as page background color\n\nIn the example below, the popover surface and text colors are changed. The toggle switch can't be adjusted for popover specifically\n\n| Popover with white surface                                             | Popover with custom surface                                              |\n|------------------------------------------------------------------------|--------------------------------------------------------------------------|\n| ![Popover with white surface](images/edm/popover-white-background.png) | ![Popover with custom surface](images/edm/popover-custom-background.png) |\n\n* Loading spinner customization\n    * **Consideration:** Currently it's not possible to change colors for the loading spinner\n    * **Solution:** The loading spinner will work best with a light theme\n\n| Loading spinner on white background                                                        | Loading spinner on dark background                                                       |\n|--------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------|\n| ![Loading spinner on white background](images/edm/loading-spinner-on-white-background.png) | ![Loading spinner on dark background](images/edm/loading-spinner-on-dark-background.png) |\n\n* Non-customizable cliparts\n    * **Consideration:** When changing page background color, some clipart colors may clash with the background\n    * **Solution:** Cliparts will work best with a light theme\n\n| Non-customizable cliparts on white background                                       | Non-customizable cliparts on dark background                                      |\n|-------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------|\n| ![Loading spinner on white background](images/edm/cliparts-on-white-background.png) | ![Loading spinner on dark background](images/edm/cliparts-on-dark-background.png) |\n\n## Tips & tricks\n\n**Dark mode**\n\nWhen changing to dark mode, use dark color scheme in CSS to make the operating system adjust the user interface (e.g. make scrollbars and native form controls dark)\n\nMore info on CSS `color-scheme` property - https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme\n\n```javascript\nnew PFDesignMaker({\n    style: {\n        variables: {\n            'color-scheme': 'dark',\n        },\n    },\n});\n```\n\n**Accent color**\n\nChange the accent color of user-interface controls (e.g. checkboxes, radio buttons)\n\nMore info on CSS `accent-color` property - https://developer.mozilla.org/en-US/docs/Web/CSS/accent-color\n\n```javascript\nnew PFDesignMaker({\n    style: {\n        variables: {\n            'accent-color': '#222222',\n        },\n    },\n});\n```\n\n## Predefined custom CSS properties\n\n**Example usage**\n\n```javascript\nnew PFDesignMaker({\n    style: {\n        variables: {\n            '--pf-sys-background': '#222222',\n        },\n    },\n});\n```\n\nIf the custom CSS property value references another custom CSS property, you can omit the declaration and the value will be inherited from the referenced property. However, you can override those properties to be more specific.\n\n## Example\n\n**Note:** Following example is not comprehensive and complete and is meant to be used as a starting point to build upon\n\n| Light mode                                               | Dark mode                                              |\n|----------------------------------------------------------|--------------------------------------------------------|\n| ![Light mode example](images/edm/light-mode-example.png) | ![Dark mode example](images/edm/dark-mode-example.png) |\n\n```javascript\nnew PFDesignMaker({\n    style: {\n        variables: {\n            '--pf-sys-background': '#0f172a',\n            '--pf-sys-background-hsl': '222.22, 47.37%, 11.18%',\n            '--pf-sys-neutral-300-on-background': '#64748b',\n            '--pf-sys-neutral-400-on-background': '#94a3b8',\n            '--pf-sys-neutral-700-on-background': '#e2e8f0',\n            '--pf-sys-neutral-800-on-background': '#f1f5f9',\n            '--pf-sys-neutral-900-on-background': '#f8fafc',\n            '--pf-sys-primary-400-on-background': '#059669',\n            '--pf-sys-primary-700-on-background': '#6ee7b7',\n            '--pf-sys-border-on-background': '#64748b',\n            '--pf-sys-link-on-background': '#93c5fd',\n            '--pf-sys-icon-on-background': '#94a3b8',\n            '--pf-sys-icon-info-on-background': '#94a3b8',\n            '--pf-sys-icon-hover-neutral-700-on-background': '#e2e8f0',\n            '--pf-sys-icon-hover-neutral-900-on-background': '#f8fafc',\n            '--pf-sys-error-on-background': '#f87171',\n            '--pf-sys-success-on-background': '#22c55e',\n            '--pf-sys-warning-on-background': '#fcd34d',\n            '--pf-sys-hover-border-color-on-background': '#64748b',\n            '--pf-sys-hover-box-shadow-on-background': '',\n            '--pf-sys-neutral-surface-50': '#1e293b',\n            '--pf-sys-neutral-surface-50-hsl': '217.24, 32.58%, 17.45%',\n            '--pf-sys-neutral-300-on-surface-50': '#64748b',\n            '--pf-sys-neutral-400-on-surface-50': '#94a3b8',\n            '--pf-sys-neutral-700-on-surface-50': '#e2e8f0',\n            '--pf-sys-neutral-900-on-surface-50': '#f8fafc',\n            '--pf-sys-neutral-surface-100': '#334155',\n            '--pf-sys-neutral-700-on-surface-100': '#e2e8f0',\n            '--pf-sys-neutral-900-on-surface-100': '#f8fafc',\n            '--pf-sys-neutral-surface-200': '#475569',\n            '--pf-sys-neutral-400-on-surface-200': '#94a3b8',\n            '--pf-sys-neutral-900-on-surface-200': '#f8fafc',\n            '--pf-sys-neutral-surface-300': '#64748b',\n            '--pf-sys-neutral-400-on-surface-300': '#94a3b8',\n            '--pf-sys-neutral-900-on-surface-300': '#f8fafc',\n            '--pf-sys-neutral-surface-400': '#94a3b8',\n            '--pf-sys-neutral-900-on-surface-400': '#f8fafc',\n            '--pf-sys-primary-surface-400': '#059669',\n            '--pf-sys-primary-surface-700': '#6ee7b7',\n            '--pf-sys-primary-on-surface-700': '#134e4a',\n            '--pf-sys-error-surface': '#991b1b',\n            '--pf-sys-error-on-surface': '#fef2f2',\n            '--pf-sys-form-control-indicator-active-surface': '#93c5fd',\n            '--pf-sys-form-control-indicator-active-on-surface': '#1e3a8a',\n            '--pf-sys-action-button-surface': '',\n            '--pf-sys-action-button-on-surface': '#f8fafc',\n            '--pf-sys-action-button-hover-surface': '#64748b',\n            '--pf-sys-action-button-hover-on-surface': '#f8fafc',\n            '--pf-sys-action-button-focus-surface': '',\n            '--pf-sys-action-button-focus-on-surface': '#f8fafc',\n            '--pf-sys-action-button-selected-surface': '#155e75',\n            '--pf-sys-action-button-selected-on-surface': '#ecfeff',\n            '--pf-sys-action-button-disabled-surface': '',\n            '--pf-sys-action-button-disabled-on-surface': '#94a3b8', \n        },\n    },\n});\n```\n\n# System tokens\n\nMost of the user interface changes with system tokens\n\n## General background related tokens\n\n| Name                                            | Default value                                                                                                        | Value type                                                           | Description                                                                                                                                                                   |\n|-------------------------------------------------|----------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| `--pf-sys-background`                           | <div class=\"color\">![white](images/edm/white.svg) `hsl(0, 0%, 100%)`</div>                                           | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Page background color                                                                                                                                                         |\n| `--pf-sys-background-hsl`                       | <div class=\"color\">![white](images/edm/white.svg) `0, 0%, 100%`</div>                                                | valid HSL color values, but without `hsl()` wrapper function         | Page background color in separate HSL values. Used for CSS color values that require a new value to be generated. Value should derive from `--pf-sys-background`              |\n| `--pf-sys-border-on-background`                 | <div class=\"color\">![gray-300-on-white](images/edm/gray-300-on-white.svg) `--pf-sys-neutral-300-on-background`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Border, separator line color on background                                                                                                                                    |\n| `--pf-sys-hover-border-color-on-background`     | <div class=\"color\">![gray-300-on-white](images/edm/gray-300-on-white.svg) `--pf-sys-border-on-background`</div>      | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Border, separator line color on background when hovering a card like component                                                                                                |\n| `--pf-sys-icon-on-background`                   | <div class=\"color\">![gray-400-on-white](images/edm/gray-400-on-white.svg) `--pf-sys-neutral-400-on-background`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Icon color on background                                                                                                                                                      |\n| `--pf-sys-icon-info-on-background`              | <div class=\"color\">![gray-400-on-white](images/edm/gray-400-on-white.svg) `--pf-sys-icon-on-background`</div>        | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Info icon (used for tooltips) color on background                                                                                                                             |\n| `--pf-sys-icon-hover-neutral-700-on-background` | <div class=\"color\">![gray-700-on-white](images/edm/gray-700-on-white.svg) `--pf-sys-neutral-700-on-background`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Hovered icon color on background                                                                                                                                              |\n| `--pf-sys-icon-hover-neutral-900-on-background` | <div class=\"color\">![gray-900-on-white](images/edm/gray-900-on-white.svg) `--pf-sys-neutral-900-on-background`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Hovered icon color on background                                                                                                                                              |\n| `--pf-sys-link-on-background`                   | <div class=\"color\">![blue-800-on-white](images/edm/blue-800-on-white.svg) `hsl(207.24, 81.72%, 36.47%)`</div>        | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Link color on background                                                                                                                                                      |\n| `--pf-sys-hover-box-shadow-on-background`       | `0 1px 5px 0 rgba(90, 90, 90, .5)`                                                                                   | valid full `box-shadow` value                                        | Shadow on background when hovering a card like component                                                                                                                      |\n\n## Neutral colors on background\n\nFrom lightest (least contrast) to darkest (most contrast) in light theme\n\nThese values are also used for all neutrally colored content on all neutral surfaces, if not overridden\n\n| Name                                     | Default value                                                                                        | Value type                                                           | Description                                                                                                                                                    |\n|------------------------------------------|------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| `--pf-sys-neutral-300-on-background`     | <div class=\"color\">![gray-300-on-white](images/edm/gray-300-on-white.svg) `hsl(0, 0%, 89.8%)`</div>  | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Neutral color on background. Used border on background color                                                                                                   |\n| `--pf-sys-neutral-400-on-background`     | <div class=\"color\">![gray-400-on-white](images/edm/gray-400-on-white.svg) `hsl(0, 0%, 69.41%)`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Neutral color on background                                                                                                                                    |\n| `--pf-sys-neutral-700-on-background`     | <div class=\"color\">![gray-700-on-white](images/edm/gray-700-on-white.svg) `hsl(0, 0%, 33.33%)`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Neutral color on background                                                                                                                                    |\n| `--pf-sys-neutral-800-on-background`     | <div class=\"color\">![gray-800-on-white](images/edm/gray-800-on-white.svg) `hsl(0, 0%, 21.57%)`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Neutral color on background                                                                                                                                    |\n| `--pf-sys-neutral-900-on-background`     | <div class=\"color\">![gray-900-on-white](images/edm/gray-900-on-white.svg) `hsl(0, 0%, 13.33%)`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Neutral color on background. Page text color                                                                                                                   |\n| `--pf-sys-neutral-900-on-background-hsl` | <div class=\"color\">![gray-900-on-white](images/edm/gray-900-on-white.svg) `0, 0%, 13.33%`</div>      | valid HSL color values, but without `hsl()` wrapper function         | Neutral color on background. Used for CSS color values that require a new value to be generated. Value should derive from `--pf-sys-neutral-900-on-background` |\n\n## Neutral colors on neutral 50 surface\n\nFrom lightest (least contrast) to darkest (most contrast) in light theme\n\n| Name                                 | Default value                                                                                                            | Value type                                                           | Description                                                                                                                                                                                |\n|--------------------------------------|--------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| `--pf-sys-neutral-surface-50`        | <div class=\"color\">![gray-50](images/edm/gray-50.svg) `hsl(0, 0%, 97.25%)`</div>                                         | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Neutral surface color                                                                                                                                                                      |\n| `--pf-sys-neutral-surface-50-hsl`    | <div class=\"color\">![gray-50](images/edm/gray-50.svg) `0, 0%, 97.25%`</div>                                              | valid HSL color values, but without `hsl()` wrapper function         | Neutral surface color for some elements in separate HSL values. Used for CSS color values that require a new value to be generated. Value should derive from `--pf-sys-neutral-surface-50` |\n| `--pf-sys-neutral-300-on-surface-50` | <div class=\"color\">![gray-300-on-gray-50](images/edm/gray-300-on-gray-50.svg) `--pf-sys-neutral-300-on-background`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Neutral color on neutral surface                                                                                                                                                           |\n| `--pf-sys-neutral-400-on-surface-50` | <div class=\"color\">![gray-400-on-gray-50](images/edm/gray-400-on-gray-50.svg) `--pf-sys-neutral-400-on-background`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Neutral color on neutral surface                                                                                                                                                           |\n| `--pf-sys-neutral-700-on-surface-50` | <div class=\"color\">![gray-700-on-gray-50](images/edm/gray-700-on-gray-50.svg) `--pf-sys-neutral-700-on-background`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Neutral color on neutral surface                                                                                                                                                           |\n| `--pf-sys-neutral-900-on-surface-50` | <div class=\"color\">![gray-900-on-gray-50](images/edm/gray-900-on-gray-50.svg) `--pf-sys-neutral-900-on-background`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Neutral color on neutral surface                                                                                                                                                           |\n\n## Neutral colors on neutral 100 surface\n\nFrom lightest (least contrast) to darkest (most contrast) in light theme\n\n| Name                                  | Default value                                                                                                              | Value type                                                           | Description                      |\n|---------------------------------------|----------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------|----------------------------------|\n| `--pf-sys-neutral-surface-100`        | <div class=\"color\">![gray-100](images/edm/gray-100.svg) `hsl(0, 0%, 95.29%)`</div>                                         | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Neutral surface color            |\n| `--pf-sys-neutral-700-on-surface-100` | <div class=\"color\">![gray-700-on-gray-100](images/edm/gray-700-on-gray-100.svg) `--pf-sys-neutral-700-on-background`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Neutral color on neutral surface |\n| `--pf-sys-neutral-900-on-surface-100` | <div class=\"color\">![gray-900-on-gray-100](images/edm/gray-900-on-gray-100.svg) `--pf-sys-neutral-900-on-background`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Neutral color on neutral surface |\n\n\n## Neutral colors on neutral 200 surface\n\n| Name                                  | Default value                                                                                                              | Value type                                                           | Description                      |\n|---------------------------------------|----------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------|----------------------------------|\n| `--pf-sys-neutral-surface-200`        | <div class=\"color\">![gray-200](images/edm/gray-200.svg) `hsl(0, 0%, 92.55%)`</div>                                         | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Neutral surface color            |\n| `--pf-sys-neutral-400-on-surface-200` | <div class=\"color\">![gray-400-on-gray-200](images/edm/gray-400-on-gray-200.svg) `--pf-sys-neutral-400-on-background`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Neutral color on neutral surface |\n\n## Neutral colors on neutral 300 surface\n\nFrom lightest (least contrast) to darkest (most contrast) in light theme\n\n| Name                                  | Default value                                                                                                              | Value type                                                           | Description                      |\n|---------------------------------------|----------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------|----------------------------------|\n| `--pf-sys-neutral-surface-300`        | <div class=\"color\">![gray-300](images/edm/gray-300.svg) `hsl(0, 0%, 89.8%)`</div>                                          | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Neutral surface color            |\n| `--pf-sys-neutral-400-on-surface-300` | <div class=\"color\">![gray-400-on-gray-300](images/edm/gray-400-on-gray-300.svg) `--pf-sys-neutral-400-on-background`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Neutral color on neutral surface |\n| `--pf-sys-neutral-900-on-surface-300` | <div class=\"color\">![gray-900-on-gray-300](images/edm/gray-900-on-gray-300.svg) `--pf-sys-neutral-900-on-background`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Neutral color on neutral surface |\n\n## Neutral colors on neutral 400 surface\n\n| Name                                  | Default value                                                                                                              | Value type                                                           | Description                      |\n|---------------------------------------|----------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------|----------------------------------|\n| `--pf-sys-neutral-surface-400`        | <div class=\"color\">![gray-400](images/edm/gray-400.svg) `hsl(0, 0%, 69.41%)`</div>                                         | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Neutral surface color            |\n| `--pf-sys-neutral-900-on-surface-400` | <div class=\"color\">![gray-900-on-gray-400](images/edm/gray-900-on-gray-400.svg) `--pf-sys-neutral-900-on-background`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Neutral color on neutral surface |\n\n## Primary (brand) colors on background\n\nFrom lightest (least contrast) to darkest (most contrast) in light theme\n\n| Name                                 | Default value                                                                                            | Value type                                                           | Description                         |\n|--------------------------------------|----------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------|-------------------------------------|\n| `--pf-sys-primary-400-on-background` | <div class=\"color\">![red-400-on-white](images/edm/red-400-on-white.svg) `hsl(1.4, 82.61%, 59.41%)`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Primary (brand) color on background |\n| `--pf-sys-primary-700-on-background` | <div class=\"color\">![red-700-on-white](images/edm/red-700-on-white.svg) `hsl(1.38, 91.6%, 46.67%)`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Primary (brand) color on background |\n\n## Primary (brand) 400 surface\n\n| Name                           | Default value                                                                          | Value type                                                           | Description                                                     |\n|--------------------------------|----------------------------------------------------------------------------------------|----------------------------------------------------------------------|-----------------------------------------------------------------|\n| `--pf-sys-primary-surface-400` | <div class=\"color\">![red-400](images/edm/red-400.svg) `hsl(1.4, 82.61%, 59.41%)`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Primary (brand) surface color. Used for selection surface color |\n\n## Primary (brand) 700 surface\n\n| Name                              | Default value                                                                                    | Value type                                                           | Description                                                                                                                 |\n|-----------------------------------|--------------------------------------------------------------------------------------------------|----------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------|\n| `--pf-sys-primary-surface-700`    | <div class=\"color\">![red-700](images/edm/red-700.svg) `hsl(1.38, 91.6%, 46.67%)`</div>           | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Primary (brand) surface color. Used for primary buttons                                                                     |\n| `--pf-sys-primary-surface-700-hs` | <div class=\"color\">![red-700](images/edm/red-700.svg) `1.38, 91.6%`</div>                        | valid HS color values, but without `hsl()` wrapper function          | Used for CSS color values that require a new value to be generated. Value should derive from `--pf-sys-primary-surface-700` |\n| `--pf-sys-primary-surface-700-l`  | <div class=\"color\">![red-700](images/edm/red-700.svg) `46.67%`</div>                             | valid L color values, but without `hsl()` wrapper function           | Used for CSS color values that require a new value to be generated. Value should derive from `--pf-sys-primary-surface-700` |\n| `--pf-sys-primary-on-surface-700` | <div class=\"color\">![white-on-red-700](images/edm/white-on-red-700.svg) `hsl(0, 0%, 100%)`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Color on primary (brand) surface. Used for primary buttons                                                                  |\n\n## Selection\n\n| Name                            | Default value                                                                                       | Value type                                                           | Description                |\n|---------------------------------|-----------------------------------------------------------------------------------------------------|----------------------------------------------------------------------|----------------------------|\n| `--pf-sys-selection-surface`    | <div class=\"color\">![red-400](images/edm/red-400.svg) `--pf-sys-primary-surface-400`</div>          | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Selection surface color    |\n| `--pf-sys-selection-on-surface` | <div class=\"color\">![white-on-red-400](images/edm/white-on-red-400.svg) `--pf-sys-background`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Color on selection surface |\n\n## Success colors on background\n\n| Name                             | Default value                                                                                                   | Value type                                                           | Description                 |\n|----------------------------------|-----------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------|-----------------------------|\n| `--pf-sys-success-on-background` | <div class=\"color\">![green-800-on-white](images/edm/green-800-on-white.svg) `hsl(122.98, 83.45%, 28.43%)`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Success color on background |\n\n## Warning colors on background\n\n| Name                             | Default value                                                                                                  | Value type                                                           | Description                 |\n|----------------------------------|----------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------|-----------------------------|\n| `--pf-sys-warning-on-background` | <div class=\"color\">![yellow-600-on-white](images/edm/yellow-600-on-white.svg) `hsl(43.97, 100%, 48.43%)`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Warning color on background |\n\n## Error colors on background\n\n| Name                           | Default value                                                                                             | Value type                                                           | Description                                        |\n|--------------------------------|-----------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------|----------------------------------------------------|\n| `--pf-sys-error-on-background` | <div class=\"color\">![red-800-on-white](images/edm/red-800-on-white.svg) `hsl(1.28, 82.38%, 44.51%)`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Error color on background. Used for error messages |\n\n## Error surface\n\n| Name                        | Default value                                                                                    | Value type                                                           | Description            |\n|-----------------------------|--------------------------------------------------------------------------------------------------|----------------------------------------------------------------------|------------------------|\n| `--pf-sys-error-surface`    | <div class=\"color\">![red-800](images/edm/red-800.svg) `hsl(1.28, 82.38%, 44.51%)`</div>          | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Error surface color    |\n| `--pf-sys-error-on-surface` | <div class=\"color\">![white-on-red-800](images/edm/white-on-red-800.svg) `hsl(0, 0%, 100%)`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Color on error surface |\n\n## Form control\n\nUsed for interactive form elements - checkbox, radio button, toggle switch\n\n| Name                                                | Default value                                                                                      | Value type                                                           | Description                                    |\n|-----------------------------------------------------|----------------------------------------------------------------------------------------------------|----------------------------------------------------------------------|------------------------------------------------|\n| `--pf-sys-form-control-indicator-active-surface`    | <div class=\"color\">![blue-800](images/edm/blue-800.svg) `hsl(207.24, 81.72%, 36.47%)`</div>        | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Active form control indicator surface color    |\n| `--pf-sys-form-control-indicator-active-on-surface` | <div class=\"color\">![white-on-blue-800](images/edm/white-on-blue-800.svg) `hsl(0, 0%, 100%)`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Color on active form control indicator surface |\n\n## Action button\n\n| Name                                         | Default value                                                                                                                     | Value type                                                           | Description                             |\n|----------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------|-----------------------------------------|\n| `--pf-sys-action-button-surface`             | `transparent`                                                                                                                     | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Action button surface color             |\n| `--pf-sys-action-button-on-surface`          | <div class=\"color\">![gray-900-on-white](images/edm/gray-900-on-white.svg) `--pf-sys-neutral-900-on-background`</div>              | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Color on action button surface          |\n| `--pf-sys-action-button-hover-surface`       | <div class=\"color\">![gray-300](images/edm/gray-300.svg) `--pf-sys-neutral-surface-300`</div>                                      | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Hovered action button surface color     |\n| `--pf-sys-action-button-hover-on-surface`    | <div class=\"color\">![gray-900-on-gray-300](images/edm/gray-900-on-gray-300.svg) `--pf-sys-neutral-900-on-surface-300`</div>       | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Color on hovered action button surface  |\n| `--pf-sys-action-button-focus-surface`       | <div class=\"color\">![gray-CECECE](images/edm/gray-CECECE.svg) `hsla(0, 0%, 0%, 0.192)`</div>                                      | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Focused action button surface color     |\n| `--pf-sys-action-button-focus-on-surface`    | <div class=\"color\">![gray-900-on-gray-CECECE](images/edm/gray-900-on-gray-CECECE.svg) `--pf-sys-neutral-900-on-surface-300`</div> | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Color on focused action button surface  |\n| `--pf-sys-action-button-selected-surface`    | <div class=\"color\">![blue-50](images/edm/blue-50.svg) `hsl(195.48, 75.61%, 91.96%)`</div>                                         | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Selected action button surface color    |\n| `--pf-sys-action-button-selected-on-surface` | <div class=\"color\">![blue-800-on-blue-50](images/edm/blue-800-on-blue-50.svg) `hsl(207.24, 81.72%, 36.47%)`</div>                 | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Color on selected action button surface |\n| `--pf-sys-action-button-disabled-surface`    | `transparent`                                                                                                                     | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Disabled action button surface color    |\n| `--pf-sys-action-button-disabled-on-surface` | <div class=\"color\">![gray-400-on-white](images/edm/gray-400-on-white.svg) `--pf-sys-neutral-400-on-background`</div>              | color, valid RGB, RGBA, HSL, HSLA color values and CSS4 Hex notation | Color on disabled action button surface |\n\n## Border radius\n\n| Name                                                    | Default value                   | Value type                                                                    | Description                                                                                                  |\n|---------------------------------------------------------|---------------------------------|-------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------|\n| `--pf-sys-border-radius-xxs`                            | `2px`                           | border radius, valid one, two, three, or four <length> or <percentage> values | Generic border radius. Used for checkboxes, range sliders                                                    |\n| `--pf-sys-border-radius-xs`                             | `3px`                           | border radius, valid one, two, three, or four <length> or <percentage> values | Generic border radius. Used for snackbars                                                                    |\n| `--pf-sys-border-radius-sm`                             | `4px`                           | border radius, valid one, two, three, or four <length> or <percentage> values | Generic border radius. Used for tooltips                                                                     |\n| `--pf-sys-border-radius`                                | `5px`                           | border radius, valid one, two, three, or four <length> or <percentage> values | Generic border radius. Used for cards, form inputs, dropdowns, buttons, popovers, color swatches ...         |\n| `--pf-sys-border-radius-md`                             | `7px`                           | border radius, valid one, two, three, or four <length> or <percentage> values | Generic border radius. Used for active color swatch                                                          |\n| `--pf-sys-border-radius-lg`                             | `10px`                          | border radius, valid one, two, three, or four <length> or <percentage> values | Generic border radius. Used for banners                                                                      |\n| `--pf-sys-border-radius-xl`                             | `16px`                          | border radius, valid one, two, three, or four <length> or <percentage> values | Generic border radius. Used for modals                                                                       |\n| `--pf-sys-border-radius-pill`                           | `100vmax`                       | border radius, valid one, two, three, or four <length> or <percentage> values | Generic border radius. Used for pill shaped elements like badges, chips, toggle switches, placement tabs ... |\n| `--pf-sys-border-radius-circle`                         | `50%`                           | border radius, valid one, two, three, or four <length> or <percentage> values | Generic border radius. Used for circle shaped elements like designer info buttons                            |\n| `--pf-comp-badge-border-radius`                         | `--pf-sys-border-radius-pill`   | border radius, valid one, two, three, or four <length> or <percentage> values | Badge border radius                                                                                          |\n| `--pf-comp-badge-circle-border-radius`                  | `--pf-sys-border-radius-circle` | border radius, valid one, two, three, or four <length> or <percentage> values | Circle badge border radius                                                                                   |\n| `--pf-comp-banner-border-radius`                        | `--pf-sys-border-radius-lg`     | border radius, valid one, two, three, or four <length> or <percentage> values | Banner border radius. Same border radius for all banner type                                                 |\n| `--pf-comp-button-border-radius`                        | `--pf-sys-border-radius`        | border radius, valid one, two, three, or four <length> or <percentage> values | Button border radius. Same border radius for all button types                                                |\n| `--pf-comp-checkbox-border-radius`                      | `--pf-sys-border-radius-xxs`    | border radius, valid one, two, three, or four <length> or <percentage> values | Checkbox border radius                                                                                       |\n| `--pf-comp-chip-border-radius`                          | `--pf-sys-border-radius-pill`   | border radius, valid one, two, three, or four <length> or <percentage> values | Chip border radius                                                                                           |\n| `--pf-comp-designer-area-action-buttons-border-radius`  | `--pf-sys-border-radius`        | border radius, valid one, two, three, or four <length> or <percentage> values | Designer action button container border radius                                                               |\n| `--pf-comp-designer-icon-button-action-border-radius`   | `--pf-sys-border-radius`        | border radius, valid one, two, three, or four <length> or <percentage> values | Designer action icon button border radius                                                                    |\n| `--pf-comp-designer-icon-button-info-border-radius`     | `--pf-sys-border-radius-circle` | border radius, valid one, two, three, or four <length> or <percentage> values | Designer info icon button border radius                                                                      |\n| `--pf-comp-designer-mobile-footer-border-radius`        | `--pf-sys-border-radius-xl`     | border radius, valid one, two, three, or four <length> or <percentage> values | Mobile footer border radius                                                                                  |\n| `--pf-comp-designer-mobile-footer-handle-border-radius` | `--pf-sys-border-radius-pill`   | border radius, valid one, two, three, or four <length> or <percentage> values | Mobile footer handle border radius                                                                           |\n| `--pf-comp-designer-toolbar-button-border-radius`       | `--pf-sys-border-radius`        | border radius, valid one, two, three, or four <length> or <percentage> values | Designer toolbar button border radius                                                                        |\n| `--pf-comp-input-border-radius`                         | `--pf-sys-border-radius`        | border radius, valid one, two, three, or four <length> or <percentage> values | Input border radius                                                                                          |\n| `--pf-comp-layer-item-border-radius`                    | `--pf-sys-border-radius`        | border radius, valid one, two, three, or four <length> or <percentage> values | Layer item border radius                                                                                     |\n| `--pf-comp-layer-item-control-border-radius`            | `--pf-sys-border-radius`        | border radius, valid one, two, three, or four <length> or <percentage> values | Control button border radius                                                                                 |\n| `--pf-comp-layer-item-adjusted-badge-border-radius`     | `--pf-sys-border-radius-xxs`    | border radius, valid one, two, three, or four <length> or <percentage> values | Adjusted badge border radius                                                                                 |\n| `--pf-comp-layer-parent-border-radius`                  | `--pf-sys-border-radius`        | border radius, valid one, two, three, or four <length> or <percentage> values | Layer group parent layer border radius                                                                       |\n| `--pf-comp-modal-border-radius`                  
[...]
